<div class="row itemHeader">
  <div class="col-lg-12">
    <div class="pull-left">
      <h1 class="text-danger">500 SERVER ERROR!</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p><big>We're having a bad day. Sorry for inconvenience. :(</big></p>
  </div>
</div>
