$bg-main: #F9F9F9;
$bg-white: #FFF;
$bg-button: #39A2E5;
$bg-gray: #F6F6F6;
$bg-gray2: #EEE;
$bg-gray3: #E2E2E2;

$br-gray0: #D1D1D1;
$br-gray: #E2E2E2;
$br-gray2: #E9E9E9;
$br-darkgray: #9598A2;

$tx-white: #FFF;
$tx-light: #B6B6B6;
$tx-normal: #4D4D4D;
$tx-error: #D55B69;
$tx-link: #2EA3DF;
$tx-bluegray: #70727F;
