#header {
  max-width: 1000px;
  width: 100%;
  margin: 0 10px 20px 10px;
  min-height: 50px;
  @include centered();

  #logo {
    background: url(#{$imgUrl}/payMayaLogo.svg) no-repeat center center;
    background-size: contain;
    width: 310px;
    height: 50px;
    mix-blend-mode: multiply;
    text-indent: -200%;
    overflow: hidden;
    margin-top: 20px;

    &.center {
      width: 310px;
      height: 50px;
      display: block;
      @include centered();
    }
  }

  #close {
    display: none;
  }
}
