::-webkit-input-placeholder {
  color: $tx-light;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

:-moz-placeholder {
  color: $tx-light;
  font-size: 13px;
  font-weight: 400;
}

::-moz-placeholder {
  color: $tx-light;
  font-size: 13px;
  font-weight: 400;
}

:-ms-input-placeholder {
  color: $tx-light;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
